* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    font-family: "poppins", sans-serif;
    background-image: url("1st\ Gen.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

h1{
    text-align: center;
    background-color: white;
    margin: auto;
    width: 400px;
}

table, th, td, tr{
    border: 1px solid black;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
  }

  .home{
    font-family: "poppins", sans-serif;
    background: none;
    border: none;
    color: black    ;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
  }
 